@media screen and (min-width: 600px) and (max-width: 750px) {

    html,body{
        background-image: linear-gradient( black, rgb(55, 43, 226), black );
        overflow: hidden;
      
    }
  section#login {
    width: 80vw;
    height: 550px;
  }
  section#login > div#formulario {
    float: right;
    width: 50%;
  }
  section#login > div#image {
    float: left;
    width: 40%; 
    height: 100%;
    
  }
  

  
}

@media screen and (min-width: 751px) {
  html,body{
    background-image: linear-gradient( rgb(43, 226, 64), black );
     overflow: hidden;
  }
  
  
    section#login {
    width: 700px;px ;
    
  }
   section#login > div#formulario {
    float: left;
    width: 50%;
   
  }
  section#login > div#image {
    float: right;
    width: 40%;
    height: 100%;
  }
  #form {
    display: block;
    font-size: 1em;
    margin: 10px;
    width:20% ;
    height: 40px;
    background-color: #18c79e;
    cursor: pointer; 
    
    
    
   
}
a.style{
    display: block;
    color: black;
    border: 2px solid black;
    background-color: white;
    text-align: center;
    font-size: 1em;
    margin: 10px;
    width: 30%;
    padding-top: 8px;
    padding-bottom: 8px;
    cursor: pointer;
    text-decoration: none;
   
    a.style:hover{
        background-color: #18c79e;
        color: white;
    }

}
}
